.uk-table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; 
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.react-datepicker-popper {
  z-index: 20 !important;
}

.ck-editor__editable_inline {
  height: 200px;
}

.uk-button-primary {
  background-color: rgb(50, 210, 150) !important;
}

button:disabled {
  cursor: not-allowed;
}

.examtaker_timer {
  display: flex;
  align-items: center;
}

.examtaker_timer .icon svg {
  width: 36px;
  height: 36px;
}

.examtaker_timer .countdown {
  font-size: 36px;
  margin-left: 16px;
}

.examineeroom_grid {
  display: flex;
  align-items: center;
}

.examineeroom_grid .icon svg {
  width: 50px;
  height: 50px;
  color: #58babe;
}

.uk-select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
  background-size: 24px 16px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.control-row-item-label {
  display: inline-block!important;
}

.black-border {
  border: 0.5px solid #666 !important;
}

@media only screen and (max-width: 1000px) {
  .control-row-item-label {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 414px) {
  html {
    font-size: 14px;
  }
  .uk-padding {
    padding: 16px;
  }
  *+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
    margin-top: 16px;
  }
}