.uk-table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; 
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.react-datepicker-popper {
  z-index: 20 !important;
}

.ck-editor__editable_inline {
  height: 200px;
}

.uk-button-primary {
  background-color: rgb(50, 210, 150) !important;
}

.examineeroom_grid {
  display: flex;
  align-items: center;
}

.examineeroom_grid .icon svg {
  width: 50px;
  height: 50px;
  color: #58babe;
}

.uk-select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
}